@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  --background: #eef0ee;
  --foreground: #121212;
}

.dark {
  --background: #121212;
  --foreground: #eef0ee;
}
@theme {
  --color-black-bg: #121212;
  --color-sec-black-bg: #0a0a0f;
  --color-white-bg: #eef0ee;
  --color-sec-white-bg: #F9FAFB;
}